

body {
    font-family: "Roboto", "sans-serif";
    font-size: 14px;
    margin: 0;

}


h1 {
    font-size: 76px;
    color: white;
    font-weight:lighter;
}

h2 {
    font-size: 44px;
    font-weight: lighter;
}

h3 {
    font-size: 24px;
    font-weight: lighter;
    font-family: "Roboto", "sans-serif";
}

h4 {
    font-size: 20px;
    font-weight: lighter;
}

section {
    padding: 5px 5%;
}










.hlavicka {
    background-image: url(pics/lite-floor.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 5px 5%;

}

a {
    text-decoration: none;
    color:rgb(96, 145, 0);
}

a:hover {
    color:yellowgreen;
}

a:active {
    color:firebrick;
}
.fling-up {
    text-align: end;
}
.fling-up-me {
    text-align: end;
    margin:-10px 0 0 0;
    padding: 0;
}

.sans {
    font-family: "Roboto", "sans-serif";
}
.nav {
    display: flex;
    padding: 10px 5%;
    justify-content: space-around;
    background-color: whitesmoke;
}

.school {
    background-color:rgba(20, 20, 20, 0.26);
    background-image: url(pics/white-texture.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.sch-overview {
    background-color: rgba(255, 255, 255, 0.568);
    margin: 0 -5%;
    padding: 2% 5%;
}


.areas {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px 0px;
    background-color: whitesmoke;
    background-image: url(pics/written.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

    .areas a {
        padding: 2% 35%;
    }

    .areas div {
        margin: 3px;
        background-color: rgba(255, 255, 255, 0.829);
        padding: 10px;
        text-align: center;
    }

    

.urgent {
    padding: 2% 5%;
    margin: 3% -5%;
    background-color: rgba(248, 225, 198, 0.514);
}

.long-term {
    background-color: rgba(216, 191, 216, 0.507);
    margin: 5% -5%;
    padding: 2% 5%;
}

.me {
    background-image: url(pics/darky-sh.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color:white;
}
    .rants {
        font-family: "Amiri", "serif";
        line-height:1.2;
    }    
        .apr-3 {
            background-color: rgba(224, 255, 255, 0.185);
            margin: 5% -5%;
            padding: 2% 5%;
            font-size: 16px;
        }

.paticka {
    text-align: center;
    font-weight: normal;
    color: black;
    background-image: url(pics/lite-floor.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.247);
    padding: 10px;
}


@media screen and (min-width: 800px) {


    
}
@media screen and (min-width: 1200px) {
    h1 {
        font-size: 160px;
        text-align: end;
        padding: 0 20%;
    }
    section {
        padding: 10px 30%;
    }
    .nav {
        padding: 10px 30%
    }
    .areas {
        flex-direction: row;
        justify-content: space-around;
        margin: 2% -5%;
        padding: 3px;
    }
    .areas div {
        justify-content: space-around;
        padding: 5px 5%;
        margin: 5px;
    }
    .areas a {
        display: flex;
        text-align: center;
        padding: 0;
        
    }
}