

body {
    font-family: "Roboto", "sans-serif";
    font-size: 16px;
    margin: 0;

}


h1 {
    font-size: 70px;
    color: white;
    font-weight:lighter;
}

h2 {
    font-size: 44px;
    font-weight: lighter;
}

h3 {
    font-size: 24px;
    font-weight: lighter;
}

h4 {
    font-size: 20px;
    font-weight: lighter;
}

section {
    padding: 5px 5%;
}










.hlavicka {
    background-image: url(pics/lite-floor.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 5px 5%;

}



a {
    text-decoration: none;
    color:rgb(96, 145, 0);
}

a:hover {
    color:yellowgreen;
}

a:active {
    color:firebrick;
}

.nav {
    display: flex;
    padding: 10px 5%;
    justify-content: space-between;
    background-color: whitesmoke;
}

.school {
    background-color: white;
}



.areas {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
    background-color: whitesmoke;
    background-image: url(pics/lite-floor.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.areas div {
    margin: 3px;
    background-color: rgba(255, 255, 255, 0.774);
    padding: 10px;
    text-align: center;
}

.urgent {
    padding: 7px;
}


.paticka {
    text-align: center;
    font-weight: normal;
    color: black;
    background-image: url(pics/lite-floor.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.247);
    padding: 10px;
}